@use '../abstracts' as a;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* base styles */
html {
  font-size: 10px;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.6em;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: lighten(a.$secondary-color, 4%);
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
