@use '../abstracts' as a;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* base styles */
html {
  font-size: 10px;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.6em;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: lighten(a.$secondary-color, 4%);
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

// base form
.form {
  @include a.centered-layout-frame(360px, 6rem);
  padding: 2rem;

  label {
    display: block;
    margin: 3rem auto;
  }

  span {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }

  input {
    padding: 8px 6px;
    font-size: 1.6rem;
    color: a.$gray-color;
    background-color: a.$white-color;
    width: 100%;
  }
}

// base layouts
.layout-1200 {
  @include a.centered-layout-frame(1200px, 2rem);
}

.layout-960 {
  @include a.centered-layout-frame(960px, 2rem);
}

// base button
.btn {
  @include a.button(a.$primary-color);
}

.btn-secondary {
  @include a.button(darken(a.$secondary-color, 60%));
}

// base state styles
.error {
  color: a.$error-color;
}
